[submodule "backend"]
	path = backend
	url = https://github.com/christiantld/nlw-backend
[submodule "mobile"]
	path = mobile
	url = https://github.com/christiantld/nlw-mobile
[submodule "frontend"]
	path = frontend
	url = https://github.com/christiantld/nlw-frontend
