[submodule "backend"]
	path = nlw-backend
	url = https://github.com/christiantld/nlw-backend
[submodule "mobile"]
	path = nlw-mobile
	url = https://github.com/christiantld/nlw-mobile
[submodule "frontend"]
	path = nlw-frontend
	url = https://github.com/christiantld/nlw-frontend
